body {
    color:#58cbc8;
    color: #581fc6;
    color: #a0ede7;
    color: #311c6b;
    color: #6932d5;
    color: #35c667;
    color: #e79d90;
    color: #2d1e47;
    color: #5f3388;
    color: #8260a9;
    color: #784458;
    color: #503660;
    color: #9394a2;
    color: #433c5c;
    color: #5c5c65;
    color: #e6aebe;
    color: #3d3c6b;
    color: #cc3282;
    color: #885b8e;
    color: #88b3bc;
    color: #9184c5;
    color: #498090;
    color: #546098;
    color: #806e23;
    color: #124459;
}