{% load static %}
{% load i18n %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Project_folder/navbar.css' %}">
{% endblock extra_css %}



<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand nav-brand" href="#">
      <img src="{% static 'project_folder/a_man.png' %}" alt="Logo" class="nav-logo">
      <span class="nav-title">CV Crafter</span>
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links and Auth -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Centered Navigation Links -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 nav-list">
        <li class="nav-item"><a class="nav-link" href="{% url 'core:home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'resumes:resume_list' %}">Build Resume</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Analyze Resume</a></li>
      </ul>

      <!-- Right-aligned Auth Buttons or User Dropdown -->
      <div class="d-flex">
        {% if user.is_authenticated %}
          <div class="dropdown user-dropdown">
            <button class="dropdown-toggle user-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="user-greeting">Hi, {{ user.username }}</span>
              {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile" class="user-avatar">
              {% else %}
                <div class="avatar-placeholder">
                  {{ user.username|first|upper }}
                </div>
              {% endif %}
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="{% url 'core:profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
          </div>
        {% else %}
          <div class="nav-auth">
            <a href="{% url 'accounts:login' %}" class="auth-btn login-btn">Log In</a>
            <a href="{% url 'accounts:register' %}" class="auth-btn register-btn">Register</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>